body,div,ul,h1,h3{margin: 0; padding: 0;}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
div.clear{clear: both;}/*清除浮动*/
#navbar{
	background: #000033;
}
#nav-content{
	width: 1200px;
	height: 45px;
	margin: 0 auto;
	/*border: 1px solid gold;*/ /*识别导航栏位置及宽度*/
	/*background: gold;*/
}
#logo{
	padding: 0 25px;
	/*text-align: center;*/
	line-height: 45px;
	float: left;
}
#logo>a{
	display: block;
	font-size: 26px;
	color: #00CC00;
	/*font-weight: 800;*/
}
#logo>a:hover{
	color: #fed500;
}
ul.nav-list{
	float: left;
}
li.nav-item{
	float: left;
	position: relative;
}
li.nav-item>a{
	color: white;
	display: block;
	padding: 0 10px;
	font-size: 18px;
	line-height: 45px;
}
li.nav-item>a:hover{
	color: #FFFF00;
	/*background: red;*/
}
/*drop-list start下拉菜单*/
ul.drop-list{
	position: absolute;
	display: none;
	background: #000033;
}
li.drop-item a{
	
	/*text-align: center;*/
	/*line-height: 45px;*/
	/*color: */
	color: white;
	display: block;
	padding: 0 15px;
	font-size: 18px;
	line-height: 45px;
}
li.drop-item a:hover{
	background: #666;
	color: #fed500;
}
li.drop-menu:hover ul.drop-list{
	display: block;
}
/*drop-list end下拉菜单*/
div.nav-search{
	line-height: 45px;
	float: right;
	/*margin: */
}
input{
	text-align: left;
	padding: 5px 10px;
	border: 2px solid #000033;
	/*background: none;*/
	/*line-height: 45px;*/
}
.inp-btn{
	background: white;
	color: grey;

}
/*nav-search end*/
ul.nav-user{
	float: right;
	margin-left: 25px;
}
li.nav-user{
	float: left;

}
li.nav-user>a{
	font-size: 20px;
	color: #00CC00;
	
}
li.nav-user>a:hover{
	color: #f69;
}
/*nav-user end*/
div.poster {
	/*width: 100%;*/
	height: 550px;
	background:url(poster-small.png) center -150px;
	overflow: hidden;
}
.poster-content{
	
	margin: 165px 0;
	width: 1024px
	margin: 0 auto;
	text-align: center;
	color: white;
}
.poster-content a{
	display: block;
	width: 100%;
	color: #f60;

}
.poster-content a:hover{
	color: #fed500;
}
/*poster end*/










