div.carousel-inner>div.item>img{
	width: 100%; /*图片铺满显示*/
	/*width: 650px; */
}
div#myCarousel{
	width: 850px; /*决定轮播图/幻灯片大小*/
	margin: 35px auto 0; /*使幻灯片左右居中显示*/	
}
div.container{
	/*background: grey;*/ /*只是测试div#myCarousel的大小，可以删掉*/
}

